.message-sprite {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  max-width: 250px;

  padding: 10px;
  border-radius: 5px;

  animation: fade-out ease-out;
}

.message-sender {
  font-weight: bold;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
